*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

body{
    background: #222;
    color: #fff;

}

.card{
    width: 90%;
    max-width: 500px;
    background: rgba(225, 225, 225, 0.1);
    margin: 50px auto 50px;
    padding: 30px 35px;
    border-radius: 20px;
    text-align: center;
    backdrop-filter: blur(40px) ;
}
.search{
    position: relative;
    width: 100%;
    height: 40px;
    display:flex;
    align-items: center;
    background: rgb(160, 160, 160);
    
}
.search input{
    position: absolute;
    background: transparent;
    height:40px;
    padding: 20px 50px 20px 20px;
    outline: 0;
    border: 1px #fff;
    border-radius: 30px;
    color: #fff;
    font-size: 15px; 
    text-transform: capitalize;
}
.search input::placeholder{
    color: #fff;
}
.search button{
    position: absolute;
    top: 0px;
    right:0px;
    height: 100%;
    width : 50px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 30px;
    color: #fff;
}
.weather-icon{
    display: none;
    margin: 10px 0px;
}
.weather-icon img{
    width: 60%;
}
.weather-icon .temperature{
    position: relative;
    margin-top: 0px ;
    font-size: 60px;
    font-weight: bolder;
    line-height: 1;
}

.weather-icon .temperature span{
    position: absolute;
    font-size: 24px;
}

.weather-icon .description{
text-transform: capitalize;
font-size: 30px;
font-weight: bold;
}

.weather-info{
    display: flex;
    width: 100%;
    padding: 20px 20px;
}

.weather-info .humid,
.weather-info .wind{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 10px 0px 10px 10px;
}

.weather-info i{
    font-size: 60px;
    margin-right: 10px;
}
.weather-info span{
    display: inline-block;
    font-size: 20px;
    font-weight: bolder;
}
.error{
    margin-top: 20px;
    font-size: 14px;
    display: none;
}